body {
  font-size: 2.1em;
}

@media (max-width: 1200px) {
  body {
    font-size: 1.9em;
  }
}

@media (max-width: 1080px), (max-height: 650px) {
  body {
    font-size: 1.8em;
  }
}

@media (max-width: 920px) {
  body {
    font-size: 1.7em;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 1.6em;
  }
}
