@import "mixins/media-query-variables"

section[data-section="explanation"],
section[data-section="explanation-privacy"],
section[data-section="explanation-stats"]
  display flex
  justify-content center
  flex-flow column
  padding var(--section-vertical-padding) 12px

  .content
    width 100rem
    max-width 100%
    margin 0 auto
    display flex

section[data-section="explanation"]
  color black
  background-color #fff

  .content[data-subsection="dns"]
    align-items center

    @media desktopMinWidthQuery
      margin-bottom 2em

      .secondary
        margin-right 10rem

        > svg
          height 33rem

    @media mobileMaxWidthQuery
      flex-flow column
      .secondary > svg
        height 22rem
        transform rotate(8deg)

  .content[data-subsection="security"]
    @media desktopMinWidthQuery
      .secondary
        margin-left 5rem

        > svg
          height 33rem

    @media mobileMaxWidthQuery
      flex-flow column
      .secondary
        display flex
        justify-content center
        margin 1rem 0
        & > svg
          height 21rem


section[data-section="explanation-privacy"]
  border-top 1px solid #c4d7ee
  background-color #f4f8fb
  background linear-gradient(#e2ebf7, #f4f8fb)
  color black
  flex-flow column

  header
    &::after
      background-color rgba(196, 215, 238, 0.33)

  .content[data-subsection="privacy"]

    .secondary

      & > svg
        height 26rem

      margin-left 2rem
      margin-right 5rem

    @media mobileMaxWidthQuery
      .mobile-emphasis
        font-weight 600

      flex-flow column
      .secondary
        display flex
        justify-content center
        & > svg
          height 14rem

section[data-section="explanation-stats"]
  background-color #1d1916
  color white
  -webkit-font-smoothing antialiased

  --bar-color-orange #DB824E
  --bar-color-purple #8176B5
  --bar-color-gray #b3b3b3

  --bar-gradient-orange-yellow linear-gradient(-45deg, var(--bar-color-orange) 0%, #FFDB6F 100%)
  --bar-gradient-purple-blue linear-gradient(-45deg, var(--bar-color-purple) 0%, #76C4E2 100%)
  --bar-gradient-purple-indigo linear-gradient(-46deg, var(--bar-color-purple) 0%, #BA77B1 100%)

  --bar-chart-cap-width 1rem
  --animation-time 1s

  a
    color white

  header
    &::after
      background-image var(--bar-gradient-purple-indigo)
      opacity .3

  @media desktopMinWidthQuery
    .content
      align-items center

      .primary
        flex 1 0 44%

      .chart
        margin-left 2rem

  @media mobileMaxWidthQuery
    .content
      flex-flow column

  .chart
    position relative
    width 100%
    transition opacity var(--animation-time) ease-out

    .bar-chart + .bar-chart
      margin-top 2.5rem

  .bar-chart
    background var(--bar-chart-background)
    height var(--bar-chart-height)
    border-radius 4rem

    .bar-chart-primary
      display flex
      align-items center

    .bar-chart-fill
      display inline-block
      background #333
      height 2rem
      margin-bottom .3rem
      position relative
      will-change width

    .bar-chart-label
      margin-left 1rem

    &[animated] .bar-chart-fill
      transition width var(--animation-time) ease-out

    &.first
      .bar-chart-label
        color var(--bar-color-orange)
      .bar-chart-fill
        background var(--bar-gradient-orange-yellow)

    &.second
      .bar-chart-label
        color var(--bar-color-purple)
      .bar-chart-fill
        background var(--bar-gradient-purple-blue)

    &.third
      .bar-chart-label
        color var(--bar-color-purple)
      .bar-chart-fill
        background var(--bar-gradient-purple-indigo)

    &.fourth
      .bar-chart-label
        color var(--bar-color-gray)
      .bar-chart-fill
        background var(--bar-color-gray)
