section[data-section="footer"]
  opacity .5
  display flex
  justify-content center
  flex-flow column
  padding 0 12px var(--section-vertical-padding)

  .content
    font-size .95em
    text-align center

    .footer-logo
      font-family Helvetica
      text-decoration none
      font-weight 500
      letter-spacing -.03em

    a
      color inherit
