section[data-section="setup"]
  background #fff
  color #000

  a
    color inherit

  padding calc(var(--section-vertical-padding) / 2) 12px
  width 64rem
  max-width 100%
  margin 0 auto

  .additional-content
    font-size 0.8em
    text-align center
    padding-top 1em

  .instructions
    display none

  &[data-platform="mac-os"] .instructions[data-platform="mac-os"],
  &[data-platform="linux"] .instructions[data-platform="linux"],
  &[data-platform="windows"] .instructions[data-platform="windows"],
  &[data-platform="android"] .instructions[data-platform="android"],
  &[data-platform="iphone"] .instructions[data-platform="iphone"]
  &[data-platform="router"] .instructions[data-platform="router"]
    display block

  .instruction-picker
    display flex
    align-items center
    justify-content center
    margin-bottom 1em

    & > *:not(:last-child)
      margin-right 1.7rem

    .choice
      display flex
      flex-flow column
      align-items center
      padding .3em .6em
      text-transform none
      letter-spacing initial
      font-size 1.7rem

      // .label
      //   margin-left .6em

      // Background color fix
      &.selected svg.fa-linux
        background white
        border-radius 4px
        padding 1px

        path
          fill black


  .instruction-video
    display block
    width 1100px
    margin 0 auto
    max-width 100%

  .app-download-options
    display flex
    flex-direction row
    max-width 100%
    justify-content center

    a
      display inline-block
      margin 27px 8px 12px 8px

    svg
      height 64px
      max-width 100%