section[data-section="share"]
  display flex
  justify-content center
  align-items center
  flex-flow column
  overflow hidden
  max-width 100%
  color white
  padding var(--section-vertical-padding) 1em
  translate transform3d(0,0,0)

  @media mobileMaxWidthQuery
    font-size 1.1em
    line-height 1.6
    padding calc(var(--section-vertical-padding) / 2) 1em 2em
    min-height calc(55vh - 5rem)

    h1
      line-height 1.2

    h2
      text-align center
      margin 3rem 0
      line-height 1.4

  .accent-background
    background-image url('~media/peace-min/peace-lava.jpg')
    background-size cover
    background-position center center
    z-index -1
    filter blur(3px) brightness(77%)
    transform translate3d(0,0,0)
    position absolute
    top -.5em
    left -.5em
    right -.5em
    bottom -.5em

    &::after
      content ''
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      background-color var(--brand-accent-purple1)
      pointer-events none
      opacity 0.5


  .share-buttons
    display flex
    align-items center
    font-size 2.2rem

    .share-button
      border-radius 50%
      background-color white
      color black
      height 2.5em
      width 2.5em
      flex 0 0 auto
      display flex
      justify-content center
      align-items center
      padding 0

      &:not(:last-child)
        margin-right 1em

