.AppOverviewSection--column {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em 2em 20em;
  width: 100%;
}
.AppOverviewSection-beta-column {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em 2em 2em 2em;
  width: 100%;
}

.AppOverviewSection--content {
  position: relative;
  z-index: 2;
  max-width: 100%;
}

.AppOverviewSection--device-mockup {
  position: relative;
  z-index: 1;
  margin-left: var(--section-gutter-size);
}

@media (max-width: 768px) {
  .AppOverviewSection--column {
    flex-direction: column;
    padding-bottom: 17em;
    overflow: hidden;
  }
  .AppOverviewSection-beta-column {
      flex-direction: column;
      padding-bottom: 17em;
      overflow: hidden;
    }

  .AppOverviewSection--device-mockup {
    margin-left: 0;
  }
}
