.CopyLink {
  text-decoration: none;
  color: inherit;
  --underline-size: -0.16em;
  --box-shadow: 0 0 0 var(--focus-shadow-size) var(--focus-shadow-color),
    inset 0 var(--underline-size) rgba(var(--color-rgb), 0.5); /* Workaround for Safari bug - https://bugs.webkit.org/show_bug.cgi?id=185940 */
  box-shadow: var(--box-shadow);
  transition: color 0.3s ease, box-shadow 0.3s ease;
}

.CopyLink:hover {
  color: rgb(var(--accent-color-rgb));
}

.CopyLink-with-right-arrow,
.CopyLink-with-right-arrow:hover {
  --underline-size: 0;
}

.CopyLink-with-right-arrow {
  transition: color 0.3s ease;
}

.CopyLink-with-right-arrow::after {
  content: "\00a0→";
}

.CopyLink.focus-visible {
  transition: box-shadow 0.3s ease;
}

.CopyLink:focus {
  outline: none;
}

.CopyLink:not(.focus-visible):focus,
.CopyLink:not(:focus) {
  --focus-shadow-size: 0;
}

.CopyLink--small {
  color: rgb(34, 30, 104);
  font-size: 0.625em;
}

.CopyLink-with-margin--small {
  margin-right: 5em;
}

@media (max-width: 768px) {
  .CopyLink-with-margin--small {
    display: block;
    margin-top: 10px;
    margin-right: 0;
  }
}
