.InstallSection--column {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em 2em 36em;
  width: 100%;
}

.InstallSection--content {
  position: relative;
  z-index: 2;
  width: 40em;
  max-width: 100%;
  margin-bottom: 2em;
}

.InstallSection--icon {
  margin-top: -8em;
  height: 8em;
  width: 8em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
}

.InstallSection--content-section-copy-wrapper {
  margin-bottom: 1em;
}

.InstallSection--actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.InstallSection--actions > a:not(:last-child) {
  margin-right: 1em;
}

.InstallSection--backdrop-blob4 {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  top: -24em;
  width: 144em;
  left: -500em;
  right: -504em;
  margin-left: auto;
  margin-right: auto;
}

.InstallSection--panels {
  display: flex;
  justify-content: space-between;
  margin: 0 -2em;
}

.InstallSection--panel {
  flex: 1;
  padding: 2em;
  border-radius: 2em;
  margin: 2em;
  border: solid 1px;
  background: var(--nav-link-background-color-hover);
}

.InstallSection--panel-title {
  text-align: center;
  font-weight: 700;
  margin-bottom: 1em;
  min-height: 3em;
}

.InstallSection--panel-description {
  line-height: 2em;
  margin-bottom: 1em;
}

.install-instructions {
  margin-top: 2em;
  text-align: center;
}

@media (max-width: 768px) {
  .InstallSection {
    margin-top: -6em;
  }

  .InstallSection--icon {
    margin-top: 0;
  }

  .InstallSection--column {
    overflow: hidden;
    padding-bottom: 90em;
  }

  .InstallSection--backdrop-blob4 {
    top: 10em;
    width: 75em;
    left: -504em;
    right: -500em;
  }

  .InstallSection--panels {
    flex-direction: column;
  }
}

@media (max-width: 375px) {
  .InstallSection--column {
    overflow: hidden;
    padding-bottom: 60em;
  }

  .InstallSection--backdrop-blob4 {
    top: 22em;
    width: 50em;
    left: -501em;
    right: -502em;
  }
}

.InstallSection--content-mobile {
  display: none;
}

@media (max-width: 768px) {
  .InstallSection--content-desktop {
    display: none;
  }

  .InstallSection--content-mobile {
    display: block;
  }
}
