.Nav {
  display: flex;
  height: 100%;
}

.Nav--link {
  display: flex;
  align-items: center;
  padding: 0 1em;
  flex-shrink: 0;
  color: inherit;
  text-decoration: none;
  transition: box-shadow .3s ease;
}

@media (max-width: 768px) {
  .Nav--link:not(:first-child) {
    display: none; /* TODO - consider adding a mobile nav */
  }
}

.Nav--link:hover {
  background: var(--nav-link-background-color-hover);
}

.Nav--link:active, .Nav--link-active {
  background: var(--nav-link-background-color-active);
}

.Nav--link:focus {
  outline: none;
}

.Nav--link.focus-visible:focus {
  box-shadow: 0 0 0 var(--focus-shadow-size) var(--focus-shadow-color);
}

.Nav--link.focus-visible:not(:focus) {
  --focus-shadow-size: 0;
}

.Nav--link:first-child {
  margin-right: auto;
  border-bottom-right-radius: .3125em;
}

.Nav--link:last-child {
  border-bottom-left-radius: .3125em;
}

.Nav--link:not(:first-child):not(:last-child) {
  border-bottom-right-radius: .3125em;
  border-bottom-left-radius: .3125em;
}
