.PerformanceSection--column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em 2em 12em;
  width: 100%;
}

.PerformanceSection--content {
  margin-bottom: 2em;
  max-width: 100%;
}

.PerformanceSection--figure {
  width: 20em;
  max-width: 100%;
  overflow: hidden;
}

.PerformanceSection--figure:not([is-animation-started]) {
  opacity: 0; /* Workaround Chrome paint bug on refresh */
}

.PerformanceSection--figure-item {
  position: relative;
  --transition-delay-stagger: .3s;
}

.PerformanceSection--figure-item:nth-child(1) { --index: 0 }
.PerformanceSection--figure-item:nth-child(2) { --index: 1 }
.PerformanceSection--figure-item:nth-child(3) { --index: 2 }
.PerformanceSection--figure-item:nth-child(4) { --index: 3 }

.PerformanceSection--figure-item:not(:last-child) {
  margin-bottom: 1em;
}

.PerformanceSection--figure-item-bar {
  background: rgba(var(--color-rgb), .2);
  border-radius: .5em;
  height: 1em;
  width: 1em;
  opacity: 0;
  --transition-delay: calc(var(--index) * var(--transition-delay-stagger));
  transition: opacity .5s var(--transition-delay) ease, width .5s var(--transition-delay) ease;
}

.PerformanceSection--figure-item-one-dot .PerformanceSection--figure-item-bar {
  background: linear-gradient(90deg, #eeac43, #f15874);
}

.PerformanceSection--figure-item-time {
  position: absolute;
  top: 0;
  left: calc(1em + (var(--bar-width) * 80%));
  line-height: 1.4;
  white-space: nowrap;
  font-size: .8em;
  transform: translate3d(-1em, 0, 0);
  opacity: 0;
  --transition-delay: calc(calc(var(--index) * var(--transition-delay-stagger)) + .5s);
  transition: opacity .5s var(--transition-delay) ease, transform .5s var(--transition-delay) ease;
}

.PerformanceSection--figure-item-label {
  font-weight: 500;
  padding-left: .25em;
  opacity: 0;
  --transition-delay: calc((var(--index) * var(--transition-delay-stagger)) + .25s);
  transition: opacity .5s var(--transition-delay) ease;
}

.PerformanceSection--figure[is-animation-started] .PerformanceSection--figure-item-bar {
  opacity: 1;
  width: calc(var(--bar-width) * 80%);
}

.PerformanceSection--figure[is-animation-started] .PerformanceSection--figure-item-time {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.PerformanceSection--figure[is-animation-started] .PerformanceSection--figure-item-label {
  opacity: 1;
}

.PerformanceSection--familiy-disclaimer {
  margin-top: 2em;
}

@media (max-width: 768px) {
  .PerformanceSection {
    margin-top: -4em;
  }

  .PerformanceSection--figure {
    width: 23em;
  }

  .PerformanceSection--column {
    padding: 2em 2em 4em;
  }
}
