section(data-section="footer")
  .content
    a.footer-logo(href="/") 1.1.1.1
    span &nbsp; &nbsp; &nbsp;
    a(href="/faq/") FAQ
    span &nbsp; &nbsp;
    a(href="https://www.cloudflare.com/website-terms/") Terms
    span &nbsp; &nbsp;
    a(href="https://www.cloudflare.com/privacypolicy/") Privacy Policy
    span &nbsp; &nbsp;
    a(href="/purge-cache/") Purge Cache
