.PerformanceSection--figure(data-depth='3')
  .PerformanceSection--figure-item.PerformanceSection--figure-item-one-dot(style="--bar-width: 0.30")
    .PerformanceSection--figure-item-bar
    .PerformanceSection--figure-item-time 13.66ms
    .PerformanceSection--figure-item-label 1.1.1.1
  .PerformanceSection--figure-item(style="--bar-width: 0.38")
    .PerformanceSection--figure-item-bar
    .PerformanceSection--figure-item-time 22.78ms
    .PerformanceSection--figure-item-label Google
  .PerformanceSection--figure-item(style="--bar-width: 0.40")
    .PerformanceSection--figure-item-bar
    .PerformanceSection--figure-item-time 23.19ms
    .PerformanceSection--figure-item-label OpenDNS
  .PerformanceSection--figure-item(style="--bar-width: 1.00")
    .PerformanceSection--figure-item-bar
    .PerformanceSection--figure-item-time 64.43ms
    .PerformanceSection--figure-item-label Verisign
p(style="font-size:12px; font-style:italic; margin-top:30px")!=htmlWebpackPlugin.options.t('home.performancedate')